/*
APP MAIN STYLES
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

main {
  color: #fff;
  background: #1c1c1c;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 1rem;
}

.main-header {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}
.main-header img {
  width: 4rem;
  margin-right: 3rem;
}
.main-header ul {
  display: flex;
  list-style: none;
}
.main-header ul li {
  margin-right: 1rem;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}
.main-header ul li a {
  color: #303030;
}
.main-header ul li.active a {
  color: #0182f9;
}

footer .top-footer {
  background: #0182f9;
  height: 1.2rem;
}
footer .bottom-footer {
  background: #303030;
  padding: 1rem;
}
footer .bottom-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .bottom-footer .left-footer button {
  background-color: #303030;
  border: 2px solid #0182f9;
  color: #fff;
  padding: 0.75rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  cursor: pointer;
}
footer .bottom-footer .right-footer {
  display: flex;
  align-items: center;
}
footer .bottom-footer .right-footer .follow {
  color: #0182f9;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
  margin-right: 1rem;
}
footer .bottom-footer .right-footer img {
  margin-right: 1rem;
  cursor: pointer;
}
footer .bottom-footer .right-footer img:last-of-type {
  margin-right: 0;
}

.comic-detail .hero {
  background-image: url("../images/jumbotron.jpg");
}
.comic-detail .hero .img-container {
  position: relative;
  display: inline-block;
  margin: 5rem;
  transform: translate(0, 43%);
}
.comic-detail .hero .img-container .comic-book {
  position: absolute;
  top: 1px;
  left: 0;
  text-transform: uppercase;
  font-size: 0.75rem;
  background: #1aafe0;
  padding: 2px;
}
.comic-detail .hero .img-container .gallery {
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 100%;
  text-transform: uppercase;
  font-size: 0.75rem;
  background: #1aafe0;
  padding: 2px;
}
.comic-detail .hero .bottom-hero {
  height: 3.7rem;
  background: #0182f9;
}
.comic-detail .details {
  color: #303030;
  background: #fff;
  padding: 6rem 0;
}
.comic-detail .details .row {
  display: flex;
}
.comic-detail .details .row .col-8 {
  width: 66.6666666667%;
}
.comic-detail .details .row .col-8 .comic-title {
  text-transform: uppercase;
}
.comic-detail .details .row .col-8 .infos {
  display: flex;
  background: #20a520;
  margin: 2rem 0;
  font-size: 0.75rem;
}
.comic-detail .details .row .col-8 .infos .left-infos {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  color: rgba(255, 255, 255, 0.582);
  border-right: 1px solid #303030;
}
.comic-detail .details .row .col-8 .infos .left-infos .price {
  color: #fff;
}
.comic-detail .details .row .col-8 .infos .left-infos .availability {
  text-transform: uppercase;
}
.comic-detail .details .row .col-8 .infos .right-infos {
  padding: 1rem;
  color: #fff;
}
.comic-detail .details .row .col-4 {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 3rem;
}
.comic-detail .details .row .col-4 .adv {
  text-transform: uppercase;
  font-size: 0.75rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  padding: 4rem 0 1rem 0;
}
.cards .card {
  width: 16.6666666667%;
  padding: 1rem;
}
.cards .card .comic-title {
  padding: 1rem 0;
  text-transform: uppercase;
  font-size: 0.75rem;
}
.cards button {
  background: #0182f9;
  color: #fff;
  padding: 0.5rem 2rem;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 0.75rem;
  border: none;
  cursor: pointer;
}