/*
APP MAIN STYLES
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

main {
  color: #fff;
  background: #1c1c1c;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 1rem;
}

.main-header {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}
.main-header img {
  width: 4rem;
  margin-right: 3rem;
}
.main-header ul {
  display: flex;
  list-style: none;
}
.main-header ul li {
  margin-right: 1rem;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}
.main-header ul li.active {
  color: #0182f9;
}

footer .top-footer {
  background: #0182f9;
  height: 1.2rem;
}
footer .bottom-footer {
  background: #303030;
  padding: 1rem;
}
footer .bottom-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .bottom-footer .left-footer button {
  background-color: #303030;
  border: 2px solid #0182f9;
  color: #fff;
  padding: 0.75rem;
  text-transform: uppercase;
  font-size: 0.75rem;
}
footer .bottom-footer .right-footer {
  display: flex;
  align-items: center;
}
footer .bottom-footer .right-footer .follow {
  color: #0182f9;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
  margin-right: 1rem;
}
footer .bottom-footer .right-footer img {
  margin-right: 1rem;
}
footer .bottom-footer .right-footer img:last-of-type {
  margin-right: 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  padding: 4rem 0 1rem 0;
}
.cards .card {
  width: 16.6666666667%;
  padding: 1rem;
}
.cards .card .comic-title {
  padding: 1rem 0;
  text-transform: uppercase;
  font-size: 0.75rem;
}
.cards button {
  background: #0182f9;
  color: #fff;
  padding: 0.5rem 2rem;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 0.75rem;
  border: none;
  cursor: pointer;
}