* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $main-font;
}

main {
    color: $text-col;
    background: $back-col;
}

img {
    max-width: 100%;
    height: auto;
}
